* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
button {
    cursor: pointer;
}
img {
    line-height: 0;
}
.widgets {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.weather_widget {
    width: 194px;
    height: 219px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(166, 255, 255);
    border: 1px solid;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 0.1fr;
    overflow-y: scroll;
}
.weather_widget > p, .weather_widget > img {
    grid-column-start: 1;
    grid-column-end: 3;
}
.widget_icon {
    margin: auto;
    width: 80px;
    height: 80px;
}
.weather_humidity {
    margin-bottom: 20px;
}
.show_more_weather{
    align-self: flex-start;
}
.close_widget {
    grid-column-start: 2;
    position: fixed;
    right: 7px;
}
.loader {
    width: 190px;
    height: 190px;
}
.weather_widget::-webkit-scrollbar {
    width: 3px;
}
.weather_widget::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 3px;
}
.weather_widget::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}