* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
    font-size: 20px;
    font-family: "sans-serif";
}
button {
    cursor: pointer;
}
button:hover {
    background-color:white;
    transition: ease-in-out 100ms;
}
.wrapper {
    margin: auto;
}
.calendar_options {
    max-width: 350px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
}
.month_list, .year_list {
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.calendar_option_button {
    border-radius: 10px;
}
.calendars {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
table {
    margin: auto;
    border-spacing: 0;
    border: 0.25px solid
}
td {
    border: 0.25px solid;
    text-align: center;
    width: 45px;
}
.calendar_button {
    width: 40px;

}
.calendar_head {
    margin-left: 2px;
    display: flex;
    gap: 10px;
}
.calendar_values {
    width: 167px;
}
.day {
    cursor: pointer;
}
.day:hover {
    background-color:gold;
}
.active {
    background-color:gold
}